@font-face {
    font-family: ProximaNovaBold;
    src: url(/fonts/ProximaNovaBold/11096.otf);
    src: local(proximaNovaBold), url(/fonts/ProximaNovaBold/11096.otf);
}

img {
    width: auto;
    max-width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: regular;
    overflow-x: hidden;
    
    
    
}

.container {
    max-width: 1770px;
    padding-right: 50px;
    padding-left: 50px;
    margin: 0 auto;
}

@media(max-width:500px){
    .container {
        padding: 0;
    }

    .mainHeader--nav.active {
        left: 0;
    }

    .mainHeader--serch.active {
        margin-left: 50px;
    }
}

.mainContainer {
    max-width: 1170px;
    padding-right: 50px;
    padding-left: 50px;
    margin: 0 auto;
}

@media(max-width:500px){
    .mainContainer {
        padding: 0;
    }
}

i.arrow {
    border: solid #777777;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    cursor: pointer;
}

i.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

a {
    text-decoration: none;
}



/*---------Header---------*/

header {
    height: 977px;
    background-color: #F8F8F8;
    margin-bottom: 60px;
    z-index: 1;

}

@media(max-width:500px){
    header {
        height: 650px;
    }
    
}
/*topHeader*/

.topHeader {
    height: 47px;
    background-color: #333333;
    display: flex;
    justify-content: space-around;
    color: #777777;
    align-items: center;
  
}

.topHeader a {
    color: #999999;
}

.topHeader--container {
    width: 1175px;
    display: flex;
    height: 100%;
    margin: 0 50px;
    z-index: 10;
    
}

.topHeader--item {
    display: flex;
    align-items: center;
    font-size: 13px;
}



.topHeader--cash {
    flex-grow: 100;
    margin-left: 20px;
}

.topHeader--cash a {

    line-height: 21px;
    margin-right: 10px;
}

.topHeader--reg {
    width: 60px;
    flex-grow: 1;

    color: #999999;
    margin-right: 35px;
}

.topHeader--signin {
    width:130px;
    color: #999999;
}

.topHeader--signin a.active {
    color: #00C8C8;
}

.topHeader--empty {
    width: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00C8C8;
    color: #fff;
    cursor: pointer; 

}

.topHeader--item a:hover {
    color: #00C8C8;
}

.topHeader--empty p {
    margin: 0 9px 0 23px;  
}

.topHeader--empty i.arrow {
    border-color: #fff;
}

@media (max-width:768px){
   
    .topHeader--container {
        margin: 0;
    }

    .topHeader--item {
        font-size: 8px;
    }
    
    .topHeader--signin {
        width: 40px;
    }

    .topHeader--reg {
        width: 15px;
    }

    .topHeader--empty {
        width: 90px;
        padding: 10px;
    }
}

/*---------mainHeader---------*/

.mainHeader {
    display: flex;
    position: relative;
    z-index: 5;
    min-height: 110px;
    
}

.mainHeader .active {
    color: #00C8C8;
}

.mainHeader a {
    color: #222222;
}

.mainHeader--top {
    display: flex;
    align-items: center;
    width: 100%;
}

.header_burger {
    display: none;
}


@media (max-width:1000px){
    
    
    
    .header_burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 1000;
        }

        

    .header_burger span {
        position: absolute;
        background-color: #222222;
        right: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        z-index: 1000;
        transition: all 0.3s ease 0s;
    }

    .header_burger::before,
    .header_burger::after {
        content: '';
        background-color: #222222;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        z-index: 1000;
        transition: all 0.3s ease 0s;
    }

    .header_burger::before {
        top: 0;
    }

    .header_burger::after {
        bottom: 0;
    } 

    .mainHeader--serch {
        display: none;
    }
} 

.mainHeader--logo {
    color: #222222;
    font-size: 24px;
    text-transform: uppercase;
    flex-grow: 3;
    
}

.mainHeader--logo span {
    font-weight: bold;
}

.mainHeader--nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    
}
.mainHeader--nav ul {
    display: flex;
    align-items: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}

.mainHeader--nav ul li {
    display: flex;
    flex-direction: column; 
    margin-left: 55px;

}

.mainHeader--nav ul li:first-child {
    margin-left: 0px;
}

.mainHeader--nav ul li:last-child {
    margin-right: 30px;
}

.mainHeader--nav ul li i {
    margin-left: 3px;
    transition: 0.15s linear;
}



.mainHeader--nav ul li:hover i {
    border-color: #00C8C8;
}

.mainHeader--nav ul li.active i {
    border-color: #00C8C8;   
}

.mainHeader--nav ul li a {
    transition: 0.15s linear;
    
}

.mainHeader--nav ul li:hover a.mainHeader--mainNav {
    color: #00C8C8;
}

.mainHeader--nav ul li a.active {
    color: #00C8C8;
}

.mainHeader--serch form {
    display: flex;
    margin-top: 7px;
    
    
    
}


.mainHeader--serch input, .mainHeader--serch button {
    outline: none;
    background: transparent;
    
    
}
.mainHeader--serch input {
    width: 100%;
    height: 30px;
    border: 2px solid #E7E7E7;
    padding-left: 10px;
    font-weight: light;
    font-size: 13px;
    color: #989898;
    
}

.mainHeader--serch input::-webkit-input-placeholder {
    color: #989898;
    
}

.mainHeader--serch button {
    border: none;
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: relative;
    top: -2px;
    right: 35px;
    
}
.mainHeader--serch button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #9E9E9E;
}

  /*Drop Menu*/

.mainHeader--drNav {
    position: absolute;
    width: 470px;
    height: auto;
    background: #F8F8F8;
    top: 100px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    opacity: 0; /* По умолчанию скрываем подменю */
    visibility: hidden;
    transition-property: opacity, visibility; /* Важно чтобы transition применялось к обоим свойствам */
    transition-duration: 0.1s; /* Добавляем анимацию 0.3 сек. */
    transition-delay: 0.15s; /* Добавляем задержку в 0.15 сек. */
}

@media (max-width:1440px){
    .mainHeader--drNav {
        width: 100%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
        left:0;
    }
}

@media (max-width:1024px){
    .mainHeader--drNav {
        left: 0;
        width: 100%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    }
}

.mainHeader--drSections {
    display: flex;
    
}

  

.mainHeader--drItems {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #727272;
    width: 50%;
    text-transform: none;
    padding: 30px;
}

.mainHeader--drItems h2 {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #575153;
    margin-bottom: 30px;
}

.mainHeader--drItems a:hover {
    color: #00C8C8;
}

.mainHeader--bigBtn {
    margin: 10px 30px 30px;
    height: 200px;
    background-color: #333333;
    text-align: center;
    font-size: 36px;
    line-height: 48px;
    transition: 0.5s linear;
}

.mainHeader--bigBtn a {
    color: #fff;
    height: 100%;
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mainHeader--bigBtn a span {
    font-weight: 700;
}

.mainHeader--bigBtn:hover a {
    background-color:#F8F8F8;
    color: #333333;
    box-sizing: border-box;
    border: 2px solid #333333
}

.mainHeader--nav ul li:hover .mainHeader--drNav{
    opacity: 1; /* Показываем подменю при ховере */
    visibility: visible;
}

.mainHeader--arrow {
    color:#00C8C8
}


@media (max-width:1000px){
   
    .mainHeader--top {
        padding-left: 25px;
        padding-right: 25px;
    }

    .mainHeader--nav {
        position: absolute;
        top: -1000%;
        width: 100vw;
        height: 250px;
        align-items:flex-start;
        padding-top: 35px;
        transition: 0.3s linear;
        background-color:#888888;
        left: -50px;
               
    }
    
    

    .mainHeader--nav ul {
        position: absolute;
        width: 100%;
        display: block;
        
        
        
    }

    .mainHeader--nav ul li {
        display: block;
        margin: 0;
        height: 2em;
        padding: 10px;
        
        
    }

   

    .mainHeader--drNav {
        top: 10%;
        width: 100%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    }

    .header_burger.active span {
        transform: scale(0);
    }

    .header_burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    
    .header_burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .mainHeader--logo.active {
        position: absolute;
        left: -1000%;

    }

    .mainHeader--top.active {
        justify-content: flex-end;
    }

    .mainHeader--nav.active {
        top: 0;
        height: 320px;
       
    }

    .mainHeader--nav.active ul {
        padding-top: 90px;
        
    }

    .mainHeader--nav.active ul li{
        margin-left: 50px;
    }
  
    .mainHeader--drNav {
        left: 0;
        top: 100%;
        width: 100%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    }

    

    .mainHeader--serch.active {
        display: block;
        z-index: 5;
        position: absolute;
        left: 0;
        transition: 1.3s linear;
        
    }

    .mainHeader--serch.active input {
        border:1px solid #333;
        
    }

    .mainHeader--serch.active input::-webkit-input-placeholder {
        color: #333;
    }

    .mainHeader--serch.active button {
        color: #333;
    }

    .mainHeader--bigBtn {
        font-size: 18px;
        line-height: 38px;
        height: 140px;
        width: auto;
        
    }
    
    .mainHeader--drSections {
        flex-direction: column;
    }


}
@media (max-width:320px){
    .mainHeader--logo {
        font-size: 20px;
    }
}


.mainHeader--BGman {
    position: absolute;
    top: 47px;
    left: 13%;
    min-height: 930px;
    z-index: 1;
}


@media (max-width:1440px){
    .mainHeader--BGman {
        display: none;
    }
}

.mainHeader--bg {
    min-height: 920px;
    width: 100%;
    
}

.mainHeader--bg p {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-transform: uppercase;
    font-family: ProximaNovaBold;
    font-size: 450px;
    color: #575153;
    position: absolute;
    line-height: 800px;
    z-index: 2;
    cursor: default;
}

@media (max-width:1024px){
    .mainHeader--bg p {
        font-size: 300px;;
    }
}

@media (max-width:650px){
    .mainHeader--bg p {
        font-size: 140px;;
    }
}

.button {
    font-weight: 500;
    font-size: 16px;
    border: 2px solid #454647;
    line-height: 60px;
    text-transform: uppercase;
    padding: 0 30px;
    transition: 0.2s linear;
    letter-spacing: 5px;
    z-index: 3;
}

.button a {
    color: #454647;
    transition: 0.2s linear;
    display: block;
    
}

.button:hover {
    background-color: #00C8C8;
    border-color: #00C8C8;
}

.button:hover a {
    color: #fff;
}

.mainHeader--button {
    position: relative;
    box-sizing: border-box;
    width: 385px;
    
    bottom: 28%;
    right: -60%;
}

@media (max-width:1024px){
    .mainHeader--button {
        left: 30%;
    }
}

@media (max-width:768px){
    .mainHeader--button {
        left: 50%;
        margin-left: -135px;
        font-size: 12px;
        line-height: 40px;
        padding: 0 15px;
        letter-spacing: 3px;
        text-align: center;
        width: 270px;
    }
}
@media (max-width:1000px){
   

    .mainHeader--nav {
        position: absolute;
        top: -1000%;
        height: 250px;
        align-items:flex-start;
        padding-top: 35px;
        transition: 0.3s linear;
               
    }

    .mainHeader--serch {
        position: absolute;
        top: -1000%;
    }
    
    .mainHeader--serch.active {
        top: 35px;
    }
    

    .mainHeader--nav ul {
        position: absolute;
        width: 100%;
        display: block;
        
        
        
    }

    .mainHeader--nav ul li {
        display: block;
        margin: 0;
        height: 2em;
        padding: 10px;
        
        
    }

   

    .mainHeader--drNav {
        top: 10%;
        width: 100%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    }

    .header_burger.active span {
        transform: scale(0);
    }

    .header_burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    
    .header_burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .mainHeader--logo.active {
        position: absolute;
        left: -1000%;

    }

    .mainHeader--top.active {
        justify-content: flex-end;
    }

    .mainHeader--nav.active {
        top: 0;
        
    }
  
    .mainHeader--drNav {
        left: 0;
        top: 100%;
        width: 100%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    }
}

@media (max-width: 500px) {
    
    .mainHeader--bg {
        min-height: 540px;
    }
    
    .mainHeader--bg p {
        line-height: 400px;
    }


}


/*------Catalog-----*/













.catalog {
    width: 100%;
}

.catalog--container {
    padding-top: 40px;
    padding-bottom: 60px;
    border-top: 2px solid #EEEEEE;
    border-bottom: 2px solid #EEEEEE; 
    
}

.catalog--nav a {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #333333;
    margin: 55px 60px 65px 0;
    display: inline-block;
    transition: 0.1s linear;
}

@media (max-width:950px){
    
    .catalog--nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .catalog--nav a {
        font-size: 9px;
        margin: 25px;
        
    }

}

@media (max-width: 430px) {
    
    .catalog--container {
        padding-top: 0;
    }

    .catalog--nav {
        padding: 20px 0;
    }
    
    .catalog--nav a {
        margin: 10px;
        
    }
}


.catalog--nav a:hover {
    color: #00C8C8;
}



.catalog--items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
      
}

.catalog--items_left {
    margin-right: 25px;
}

.catalog--items_left, .catalog--items_right {
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    
}

.catalog--itemsBlock {
    width: 48.5%;
    position: relative;
    margin: 0 2% 2% 0;
}

.catalog--items_2, .catalog--items_6 {
    margin-right: 0;
}

.catalog--items_3, .catalog--items_4 {
    width: 100%;
    margin-right: 0;
}



.catalog--price {
    position: absolute;
    z-index: 2;
    left: 15px;
    top: 15px;
    font-weight: 400;
    font-size: 21px;
    color: #9a9a9a;


}

.catalog--price span {
    text-decoration: line-through;
}

.catalog--bgimg {
    height: auto;
    display: block;
   
    
}


.catalog--bgimg img{
    width: 100%;
    height: auto;
    
}







.catalog--hover {
    display: flex;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility; 
    transition-duration: 0.3s; 
    transition-delay: 0.15s;
    z-index: 10;
    left: 0;
    top: 0;
    
}

.catalog--itemsBlock:hover .catalog--hover {
    opacity: 1; 
    visibility: visible;
}

 .catalog--img5_1 {
    position: absolute;
    width: 85px;
    height: 105px;
    right: 15px;
    top: 15px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 0.1s linear;
}

.catalog--img5_2 {
    position: absolute;
    width: 85px;
    height: 105px;
    right: 15px;
    top: 132px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 0.1s linear;
} 

.catalog--img5_1:hover, 
.catalog--img5_2:hover {
    width: 93px;
    height: auto;

}


.catalog--hover i.fa-info-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -21px;
    margin-left: -21px;
    font-size: 42px;
    color: #fff;
    transition: 0.1s linear;
}

.catalog--hover i.fa-info-circle:hover {
    color: #00C8C8;
}

.catalog--hoverInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -151px;
    width: inherit;
    border-top: 1px solid #EEEEEE;
    background-color: white;
    z-index: 100;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    
    
}

.catalog--hoverInfo h3 {
    margin-top: 15px;
    font-size: 13px;
    font-weight: 600;
    color: #727272;
    text-transform: uppercase;
}

.catalog--hoverInfo p {
    font-size: 15px;
    font-weight: 400;
    color: #8e8c8c;
    line-height: 22px;
    margin-top: 15px;
    text-align: center;
    
}

.catalog--hoverIcons {
    display: flex;
    justify-content: center;
    flex-direction:row;
    
}

.catalog--hoverIcons_style {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
    width: 30px;
    height: 30px;
    margin:17px 14px 17px 0;
    background-color: #727272;
    border-radius: 100%;
}

.catalog--hoverIcons_style a {
    color: #fff;
}

.catalog--hoverIcons_style:hover {
    background-color: #00C8C8;
    cursor:pointer;
}

@media (max-width:1650px) {
    .catalog--items {
        flex-direction: column;
        align-items: center;
    }

    .catalog--items_left {
        margin-right: 0;
    }

    .catalog--items_left, .catalog--items_right {
        width: 100%;
    }

    .catalog--itemsBlock {
        margin-bottom: 35px;
    }
}

@media (max-width: 850px) {
    .catalog--items_left, .catalog--items_right {
        flex-direction: column;
    }

    .catalog--itemsBlock {
        width: 100%;
    }

    .catalog--items_1, .catalog--items_5 {
        margin-right: 0;
    }
}

@media (max-width: 500px) {
    .catalog--itemsBlock {
        width: 90%;
        
    }

    .catalog--items_left, .catalog--items_right {
        align-items: center;
    }
}

@media(max-width:400px) {
    .catalog--hoverInfo h3 {
        font-size: 10px;
    }

    .catalog--hoverInfo p {
        font-size: 9px;
        line-height: 14px;
    }

    .catalog--hoverInfo {
        bottom: -132px;
    }

    
    .catalog--img5_1, 
    .catalog--img5_2 {
    width: 60px;
    height: auto;
    }

    
    .catalog--img5_1:hover, 
    .catalog--img5_2:hover {
    width: 65px;
    height: auto;
    }

    .catalog--img5_2 {
        top: 100px;
    }

}




/* -------Lookbook------- */

.lookbook {
    min-height: 715px;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    flex-wrap: wrap;
    margin: 0 auto;
    

}



.lookbook--items {
    width: 610px;
    height: 530px;
    background-color: #F8F8F8;
    display: flex;
    margin-bottom: 35px;
}



@media (max-width:1830px){
    .lookbook {
        justify-content: space-between;
        padding: 60px 50px;
    }

    .lookbook--items {
        width: 49%;
    }

    .lookbook--your {
        width: 100%;
        justify-content: space-around;
    }

    .lookbook--your .lookbook--about {
        max-width: 500px;
    }
}




.lookbook--items img {
    display: block;
    width: auto;
    margin-left: 35px;
}



.lookbook--your {
    margin-right: 0;
}

.lookbook--about {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    text-align: right;
    padding-right: 40px;
}

.lookbook--about h2 {
    font-size: 48px;
    font-weight: 300;
    line-height: 54px;
    color: #575153;
    text-transform: uppercase;
}

.lookbook--about h2 span {
    font-weight: 700;
}

.lookbook--about p {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 22px;
    color: #727272;
    margin: 30px 0;

}

.lookbook--button {
   width: 180px;
   text-align: center;
   padding: 0;
    
}

@media (max-width: 1365px) {
    .lookbook--items {
        width: 100%;
        justify-content: space-around;
    }
}

@media (max-width: 720px){

    .lookbook {
        padding: 30px 0;
    }

    .lookbook--items {
        width: 100%;
        height: 300px;
    }

    .lookbook--items {
        position: relative;
    }

    .lookbook--items img {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        height: 90%;
        
        

    }

    .lookbook--about {
        width: 100%;
        z-index: 5;
        padding-right: 35px;
    }

    .lookbook--about p {
        display: none;
    }

    .lookbook--about h2 {
        margin-bottom: 40px;
        font-size: 30px;
    }
}


/*---------footer---------*/


footer {
    min-height: 630px;    
}

.footer--top {
    min-height: 590px;
    background-color:#F8F8F8;
    
}



.footer--info {
    width: 100%;
    display: flex;
    
    
}

.footer--item {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.footer--item h3 {
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    color: #575153;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 30px;
}

.footer--item a {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #727272;
    transition: 0.2s linear;
    margin-bottom: 7px;
    
}

.footer--item a.active {
    color: #00C8C8;
}

a.footer--address {
    line-height: 14px;
}

.footer--item a:hover {
    color: #00C8C8;
}

.footer--buttons {
    width: 100%;
    display: flex;
    padding: 55px 0;
}

.footer--award {
    width: 50%;
    background-color: #333333;
    color: #FFFFFF;
    height: 200px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s linear;
}

.footer--award a {
    color: #fff;
    height: 100%;
    width: 100%;
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: light;
    font-size: 36px;
    line-height: 48px;
     
}

.footer--award:hover, .footer--social:hover {
    background-color: #00C8C8;
}

.footer--award a span {
    font-weight: 700;
}


.footer--social {
    width: 50%;
    background-color: #333333;
    color: #FFFFFF;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s linear;
}

.footer--social a {
    color: #fff;
    height: 100%;
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: light;
    font-size: 36px;
    line-height: 48px;
    padding: 27px;
}


.footer--bottom {
    height: 45px;
    
    background-color: #333333;
    
    
}

.footer--container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 50px;
    
}

.footer--aboutDev {
    width: 100%;
    height: 100%;
    display: flex;
    

    color: #999999;
    font-size: 13px;
    line-height: 45px;
    
    

    
    
}

.footer--aboutDev p {
    flex-grow: 1;
    
}

.footer--bottom p:first-child {
    flex-grow: 13;
}

.footer--bottom p:last-child {
    margin-left: 35px;
}

@media (max-width:768px) {
    .footer--award a {
        font-size: 24px;
        line-height: 50px;
    }
}

@media (max-width: 720px) {
    .footer--info {
        flex-direction: column;
        text-align: center;
    }

    .footer--item {
        width: 100%;
    }

    .footer--buttons {
        flex-direction: column;
        
    }

    .footer--award, .footer--social {
        width: 100%;
        margin-bottom: 25px;
        
    }

    .footer--award a {
        font-size: 16px;
    }

    .footer--social {
        width: 100%;
        flex-wrap: wrap;
    }

    .footer--social a {
       height: auto;
    }

    .footer--bottom {
        height: auto;
    }
    
    .footer--aboutDev {
        font-size: 8px;
        flex-direction: column;
        align-items: center;
    }

    .footer--bottom p:last-child {
        margin: 0;
    }
}

@media (max-width:450px){
    .footer--container {
        padding: 0 25px;
    }

    .footer--social a {
        width: 25%;
    }
}