@import url(reset.css);

@font-face {
    font-family: ProximaNovaBold;
    src: url(/fonts/ProximaNovaBold/11096.otf);
    src: local(proximaNovaBold), url(/fonts/ProximaNovaBold/11096.otf);
}

img {
    width: auto;
    max-width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: regular;
    overflow-x: hidden;
    
    
    
}

a {
    text-decoration: none;
    color: #777777;
}

.container {
    max-width: 1770px;
    padding-right: 50px;
    padding-left: 50px;
    margin: 0 auto;
}

@media (max-width:610px){
    .container {
        padding: 0 10px;
    }
}

i.arrow {
    border: solid #777777;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    cursor: pointer;
}

 i.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.button {
    font-weight: 500;
    font-size: 16px;
    border: 2px solid #454647;
    line-height: 60px;
    text-transform: uppercase;
    padding: 0 30px;
    transition: 0.2s linear;
    letter-spacing: 5px;
    z-index: 3;
    display: inline-block;
}

.button a {
    color: #454647;
    transition: 0.2s linear;
    display: block;
    
}

.button:hover {
    background-color: #00C8C8;
    border-color: #00C8C8;
}

.button:hover a {
    color: #fff;
}




/*---------Header---------*/

header {
   
    
    background-color: #F8F8F8;
    z-index: 1;
    
    
    

}

/*topHeader*/

.topHeader {
    height: 47px;
    background-color: #333333;
    display: flex;
    justify-content: space-around;
    color: #777777;
    align-items: center;
  
}

.topHeader a {
    color: #999999;
}

.topHeader--container {
    width: 1175px;
    display: flex;
    height: 100%;
    margin: 0 50px;
    z-index: 10;
    
}

.topHeader--item {
    display: flex;
    align-items: center;
    font-size: 13px;
}



.topHeader--cash {
    flex-grow: 100;
    margin-left: 20px;
}

.topHeader--cash a {

    line-height: 21px;
    margin-right: 10px;
}

.topHeader--reg {
    width: 60px;
    flex-grow: 1;

    color: #999999;
    margin-right: 35px;
}

.topHeader--signin {
    width:130px;
    color: #999999;
}

.topHeader--signin a.active {
    color: #00C8C8;
}

.topHeader--empty {
    width: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00C8C8;
    color: #fff;
    cursor: pointer; 

}

.topHeader--item a:hover {
    color: #00C8C8;
}

.topHeader--empty p {
    margin: 0 9px 0 23px;  
}

.topHeader--empty i.arrow {
    border-color: #fff;
}

@media (max-width:768px){
   
    .topHeader--container {
        margin: 0;
    }

    .topHeader--item {
        font-size: 8px;
    }
    
    .topHeader--signin {
        width: 40px;
    }

    .topHeader--reg {
        width: 15px;
    }

    .topHeader--empty {
        width: 90px;
        padding: 10px;
    }
}


/*---------mainHeader---------*/

.mainHeader {
    display: flex;
    position: relative;
    z-index: 5;
    min-height: 110px;
    
}

.mainHeader .active {
    color: #00C8C8;
}

.mainHeader a {
    color: #222222;
}

.mainHeader--top {
    display: flex;
    align-items: center;
    width: 100%;
}

.header_burger {
    display: none;
}


@media (max-width:768px){
    
    
    
    .header_burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 1000;
        }

        

    .header_burger span {
        position: absolute;
        background-color: #222222;
        right: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        z-index: 1000;
        transition: all 0.3s ease 0s;
    }

    .header_burger::before,
    .header_burger::after {
        content: '';
        background-color: #222222;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        z-index: 1000;
        transition: all 0.3s ease 0s;
    }

    .header_burger::before {
        top: 0;
    }

    .header_burger::after {
        bottom: 0;
    } 

    .mainHeader--serch {
        display: none;
    }
} 

.mainHeader--logo {
    color: #222222;
    font-size: 24px;
    text-transform: uppercase;
    flex-grow: 3;
    
}

.mainHeader--logo span {
    font-weight: bold;
}

.mainHeader--nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    
}



.mainHeader--nav ul {
    display: flex;
    align-items: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}

.mainHeader--nav ul li {
    display: flex;
    flex-direction: column; 
    margin-left: 55px;

}

.mainHeader--nav ul li:first-child {
    margin-left: 0px;
}

.mainHeader--nav ul li:last-child {
    margin-right: 30px;
}

.mainHeader--nav ul li i {
    margin-left: 3px;
    transition: 0.15s linear;
}



.mainHeader--nav ul li:hover i {
    border-color: #00C8C8;
}

.mainHeader--nav ul li.active i {
    border-color: #00C8C8;   
}

.mainHeader--nav ul li a {
    transition: 0.15s linear;
    
}

.mainHeader--nav ul li:hover a.mainHeader--mainNav {
    color: #00C8C8;
}

.mainHeader--nav ul li a.active {
    color: #00C8C8;
}

.mainHeader--serch form {
    display: flex;
    margin-top: 7px;
}


.mainHeader--serch input, .mainHeader--serch button {
    outline: none;
    background: transparent;
}
.mainHeader--serch input {
    width: 100%;
    height: 30px;
    border: 2px solid #E7E7E7;
    padding-left: 10px;
    font-weight: light;
    font-size: 13px;
    color: #989898;
}

.mainHeader--serch input::-webkit-input-placeholder {
    color: #989898;
}

.mainHeader--serch button {
    border: none;
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: relative;
    top: -2px;
    right: 35px;
    
}
.mainHeader--serch button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #9E9E9E;
}

  /*Drop Menu*/

.mainHeader--drNav {
    position: absolute;
    width: 470px;
    height: auto;
    background: #F8F8F8;
    top: 100px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    opacity: 0; /* По умолчанию скрываем подменю */
    visibility: hidden;
    transition-property: opacity, visibility; /* Важно чтобы transition применялось к обоим свойствам */
    transition-duration: 0.1s; /* Добавляем анимацию 0.3 сек. */
    transition-delay: 0.15s; /* Добавляем задержку в 0.15 сек. */
}

@media (max-width:1440px){
    .mainHeader--drNav {
        width: 100%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
        left:0;
    }
}

@media (max-width:1024px){
    .mainHeader--drNav {
        left: 0;
        width: 100%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    }
}

.mainHeader--drSections {
    display: flex;
    
}

  

.mainHeader--drItems {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #727272;
    width: 50%;
    text-transform: none;
    padding: 30px;
}

.mainHeader--drItems h2 {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #575153;
    margin-bottom: 30px;
}

.mainHeader--drItems a:hover {
    color: #00C8C8;
}

.mainHeader--bigBtn {
    margin: 10px 30px 30px;
    height: 200px;
    background-color: #333333;
    text-align: center;
    font-size: 36px;
    line-height: 48px;
    transition: 0.5s linear;
}

.mainHeader--bigBtn a {
    color: #fff;
    height: 100%;
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mainHeader--bigBtn a span {
    font-weight: 700;
}

.mainHeader--bigBtn:hover a {
    background-color:#F8F8F8;
    color: #333333;
    box-sizing: border-box;
    border: 2px solid #333333
}

.mainHeader--nav ul li:hover .mainHeader--drNav{
    opacity: 1; /* Показываем подменю при ховере */
    visibility: visible;
}

.mainHeader--arrow {
    color:#00C8C8
}


@media (max-width:768px){
   
    
    
    .mainHeader--top {
        padding-left: 25px;
        padding-right: 25px;
    }

    .mainHeader--nav {
        position: absolute;
        top: -1000%;
        width: 100vw;
        height: 250px;
        align-items:flex-start;
        padding-top: 35px;
        transition: 0.3s linear;
        background-color:#888888;
        left: -50px;
               
    }
    
    

    .mainHeader--nav ul {
        position: absolute;
        width: 100%;
        display: block;
        
        
        
    }

    .mainHeader--nav ul li {
        display: block;
        margin: 0;
        height: 2em;
        padding: 10px;
        
        
    }

   

    .mainHeader--drNav {
        top: 10%;
        width: 100%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    }

    .header_burger.active span {
        transform: scale(0);
    }

    .header_burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    
    .header_burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .mainHeader--logo.active {
        position: absolute;
        left: -1000%;

    }

    .mainHeader--top.active {
        justify-content: flex-end;
    }

    .mainHeader--nav.active {
        top: 0;
        
    }
  
    .mainHeader--drNav {
        left: 0;
        top: 100%;
        width: 100%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    }
}

@media (max-width:320px){
    .mainHeader--logo {
        font-size: 20px;
    }
}


/* ------Intro------ */

.intro {
    width: 100%;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../img/IntroBG.jpg);
    color: #fff;
}

.intro h1 {
    font-weight: 300;
    font-size: 48px;
    line-height: 54px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.intro h1 span {
    font-weight: 700;
}

.intro p {
    font-weight: 400;
    font-size: 30px;
    line-height: 54px;
    text-transform: uppercase;
}

@media (max-width: 1024px) {
    .intro h1 {
        margin-bottom: 10px;
    }
}

@media (max-width: 600px) {
    .intro h1 {
        font-size: 34px;
    }

    .intro p {
        font-size: 25px;
        text-align: center;
        line-height: 30px;
    }
}

@media (max-width: 320px) {
    .intro h1 {
        font-size: 30px;
    }

    .intro p {
        font-size: 20px;
        text-align: center;
        line-height: 30px;
    }
}



/* ------------------------------reg--------------------------------- */

.reg--container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 50px;
}

.reg--main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0 120px
}

.reg--section {
    width: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.reg--section_1 {
    border-right: 1px solid #EEEEEE;
    padding: 0 35px 0 0;
}

.reg--section_2 {
    padding: 0 0 0 35px;
}

.reg--section h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #575153;
    margin-bottom: 45px;
}

.reg--section input {
    padding: 10px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 22px;
    color: #989898;
    border: 1px solid #EEEEEE;

}

.reg--section input:focus {
    border: 1px solid #BB5465;
    background: #FCF7F8;
}

.reg--section input::-webkit-input-placeholder{
    color: #989898;
} 

.reg--section input::-moz-placeholder {
    color: #989898;
}

.reg--section p {
    font-family: 'Roboto', serif;
    font-size: 15px;
    line-height: 22px;
    color: #8e8c8c;
}

.reg--button .button {
    margin-right: 15px;
}

.reg--checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin-right: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #EEEEEE;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    border-color: #EEEEEE;
    background-color: #FCF7F8;
    background-image: url(/Sign/img/check-mark-black-outline.png);
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #BB5465;
  }
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
    background-color: #FCF7F8;
    border-color: #FCF7F8;
}
/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.15);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
    border-color: #BB5465;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
}

.reg--button {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

a.reg--link {
    font-family: 'Roboto', serif;
    font-size: 15px;
    line-height: 22px;
    color: #00C8C8;
}

.reg--button p {
    max-width: 215px;
    text-align: right;
}

@media (max-width:1220px){
    .reg--main {
        flex-direction: column;
        align-items: center;
    }

    .reg--section {
        width: 80%;
    }

    .reg--section_1 {
        border-right: none;
        border-bottom: 1px solid #EEEEEE;
        padding-right: 0;
        padding-bottom: 50px;
    }

    .reg--section_2 {
        padding-left: 0;
        margin-top: 50px;
    }
}

@media (max-width: 790px){
    .reg--section {
        width: 100%;
    }

    .reg--section p{
    font-size: 12px;
    line-height: 18px;
    }

    .reg--button p{
        max-width: none;
        margin-top: 10px;
    }
}

@media (max-width:456px) {
    .reg--button .button {
        width: 100%;
        text-align: center;
        margin-right: 0;
        padding: 0 10px;
        
    }

    .reg--button .button a {
        font-size: 12px;
    }

    a.reg--link {
        margin-top: 15px;
    }
}


   


/*--------------------------------footer------------------------------*/


footer {
    min-height: 630px;    
}

.footer--top {
    min-height: 590px;
    background-color:#F8F8F8;
    
}



.footer--info {
    width: 100%;
    display: flex;
    
    
}

.footer--item {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.footer--item h3 {
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    color: #575153;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 30px;
}

.footer--item a {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #727272;
    transition: 0.2s linear;
    margin-bottom: 7px;
    
}

.footer--item a.active {
    color: #00C8C8;
}

a.footer--address {
    line-height: 14px;
}

.footer--item a:hover {
    color: #00C8C8;
}

.footer--buttons {
    width: 100%;
    display: flex;
    padding: 55px 0;
}

.footer--award {
    width: 50%;
    background-color: #333333;
    color: #FFFFFF;
    height: 200px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s linear;
}

.footer--award a {
    color: #fff;
    height: 100%;
    width: 100%;
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: light;
    font-size: 36px;
    line-height: 48px;
     
}

.footer--award:hover, .footer--social:hover {
    background-color: #00C8C8;
}

.footer--award a span {
    font-weight: 700;
}


.footer--social {
    width: 50%;
    background-color: #333333;
    color: #FFFFFF;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s linear;
}

.footer--social a {
    color: #fff;
    height: 100%;
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: light;
    font-size: 36px;
    line-height: 48px;
    padding: 27px;
}


.footer--bottom {
    height: 45px;
    
    background-color: #333333;
    
    
}

.footer--container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 50px;
    
}

.footer--aboutDev {
    width: 100%;
    height: 100%;
    display: flex;
    

    color: #999999;
    font-size: 13px;
    line-height: 45px;
    
    

    
    
}

.footer--aboutDev p {
    flex-grow: 1;
    
}

.footer--bottom p:first-child {
    flex-grow: 13;
}

.footer--bottom p:last-child {
    margin-left: 35px;
}

@media (max-width:768px) {
    .footer--award a {
        font-size: 24px;
        line-height: 50px;
    }
}

@media (max-width: 720px) {
    .footer--info {
        flex-direction: column;
        text-align: center;
    }

    .footer--item {
        width: 100%;
    }

    .footer--buttons {
        flex-direction: column;
        
    }

    .footer--award, .footer--social {
        width: 100%;
        margin-bottom: 25px;
        
    }

    .footer--award a {
        font-size: 16px;
    }

    .footer--social {
        width: 100%;
        flex-wrap: wrap;
    }

    .footer--social a {
       height: auto;
    }

    .footer--bottom {
        height: auto;
    }
    
    .footer--aboutDev {
        font-size: 8px;
        flex-direction: column;
        align-items: center;
    }

    .footer--bottom p:last-child {
        margin: 0;
    }
}

@media (max-width:450px){
    .footer--container {
        padding: 0 25px;
    }

    .footer--social a {
        width: 25%;
    }
}