<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ave</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/View/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="/js/jquery-3.6.0.js" type="text/javascript"></script>
    <script src="/js/script.js"></script>
</head>
<body>
    <header>
            <div class="topHeader">
                 <div class="topHeader--container mainContainer">
                    <div class="topHeader--cash topHeader--item">
                        <a href="#">Curency: GBP</a>
                        <i class="arrow down"></i>
                    </div>
                    <div class="topHeader--reg topHeader--item">
                        <a href="#" class="">Register</a>
                    </div>
                    <div class="topHeader--signin topHeader--item">
                        <a href="#" class="">Sign In</a>
                    </div>
                    <div class="topHeader--empty topHeader--item">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <p>empty</p>
                         <i class="arrow down"></i>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="mainHeader">
                    <div class="mainHeader--top">
                        <div class="mainHeader--logo">
                            <a href="#"><span>avenue</span> fashion</a>
                        </div>
                        <div class="header_burger">
                            <span></span>
                        </div>
                        <div class="mainHeader--nav">
                            <ul>
                                <li>
                                    <a href="#" class="mainHeader--mainNav">mens</a>
                                    <div class="mainHeader--arrow">
                                        <i class="arrow down "></i>
                                    </div>
                                    <div class="mainHeader--drNav">
                                        <div class="mainHeader--drSections">
                                            <div class="mainHeader--drItems">
                                                <h2>Casuals</h2>
                                                <a href="#">Jackets</a>
                                                <a href="#">Hoodies & Sweatshirts</a>
                                                <a href="#">Polo Shirts</a>
                                                <a href="#">Sportswear</a>
                                                <a href="#">Trousers & Chinos</a>
                                                <a href="#">T-Shirts</a>
                                            </div>
                                            <div class="mainHeader--drItems">
                                                <h2>Formal</h2>
                                                <a href="#">Jackets</a>
                                                <a href="#">Shirts</a>
                                                <a href="#">Suits</a>
                                                <a href="#">Trousers</a>
                                            </div>
                                        </div>
                                        <div class="mainHeader--bigBtn">
                                            <a href="#"><span>Autumn sale!</span> up to 50% off</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="mainHeader--mainNav">womens</a>
                                    <div class="mainHeader--arrow">
                                        <i class="arrow down"></i>
                                    </div>
                                    <div class="mainHeader--drNav">
                                        <div class="mainHeader--drSections">
                                            <div class="mainHeader--drItems">
                                                <h2>Casuals</h2>
                                                <a href="#">Jackets</a>
                                                <a href="#">Hoodies & Sweatshirts</a>
                                                <a href="#">Polo Shirts</a>
                                                <a href="#">Sportswear</a>
                                                <a href="#">Trousers & Chinos</a>
                                                <a href="#">T-Shirts</a>
                                            </div>
                                            <div class="mainHeader--drItems">
                                                <h2>Formal</h2>
                                                <a href="#">Jackets</a>
                                                <a href="#">Shirts</a>
                                                <a href="#">Suits</a>
                                                <a href="#">Trousers</a>
                                            </div>
                                        </div>
                                        <div class="mainHeader--bigBtn">
                                            <a href="#"><span>Autumn sale!</span> up to 50% off</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="mainHeader--mainNav">the brand</a>
                                    <div class="mainHeader--arrow">
                                        <i class="arrow down"></i>
                                    </div>
                                    <div class="mainHeader--drNav">
                                        <div class="mainHeader--drSections">
                                            <div class="mainHeader--drItems">
                                                    <h2>Casuals</h2>
                                                <a href="#">Jackets</a>
                                                <a href="#">Hoodies & Sweatshirts</a>
                                                <a href="#">Polo Shirts</a>
                                                <a href="#">Sportswear</a>
                                                <a href="#">Trousers & Chinos</a>
                                                <a href="#">T-Shirts</a>
                                            </div>
                                            <div class="mainHeader--drItems">
                                                    <h2>Formal</h2>
                                                    <a href="#">Jackets</a>
                                                    <a href="#">Shirts</a>
                                                    <a href="#">Suits</a>
                                                    <a href="#">Trousers</a>
                                            </div>
                                        </div>
                                        <div class="mainHeader--bigBtn">
                                            <a href="#"><span>Autumn sale!</span> up to 50% off</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="mainHeader--mainNav">local stores</a>
                                    <div class="mainHeader--arrow">
                                        <i class="arrow down"></i>
                                    </div>
                                    <div class="mainHeader--drNav">
                                        <div class="mainHeader--drSections">
                                            <div class="mainHeader--drItems">
                                                <h2>Casuals</h2>
                                                <a href="#">Jackets</a>
                                                 <a href="#">Hoodies & Sweatshirts</a>
                                                <a href="#">Polo Shirts</a>
                                                <a href="#">Sportswear</a>
                                                <a href="#">Trousers & Chinos</a>
                                                <a href="#">T-Shirts</a>
                                            </div>
                                            <div class="mainHeader--drItems">
                                                <h2>Formal</h2>
                                                <a href="#">Jackets</a>
                                                <a href="#">Shirts</a>
                                                <a href="#">Suits</a>
                                                <a href="#">Trousers</a>
                                            </div>
                                        </div>
                                        <div class="mainHeader--bigBtn">
                                            <a href="#"><span>Autumn sale!</span> up to 50% off</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="mainHeader--mainNav look-book">look book</a>
                                    <div class="mainHeader--arrow">
                                        <i class="arrow down"></i>
                                    </div>
                                    <div class="mainHeader--drNav">
                                        <div class="mainHeader--drSections">
                                            <div class="mainHeader--drItems">
                                                <h2>Casuals</h2>
                                                <a href="#">Jackets</a>
                                                <a href="#">Hoodies & Sweatshirts</a>
                                                <a href="#">Polo Shirts</a>
                                                <a href="#">Sportswear</a>
                                                <a href="#">Trousers & Chinos</a>
                                                <a href="#">T-Shirts</a>
                                            </div>
                                            <div class="mainHeader--drItems">
                                                <h2>Formal</h2>
                                                <a href="#">Jackets</a>
                                                <a href="#">Shirts</a>
                                                <a href="#">Suits</a>
                                                <a href="#">Trousers</a>
                                            </div>
                                        </div>
                                        <div class="mainHeader--bigBtn">
                                            <a href="#"><span>Autumn sale!</span> up to 50% off</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="mainHeader--serch">
                            <form>
                                <input type="text" placeholder="Search...">
                                <button type="submit"></button>
                            </form>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
           
    </header>
    
    <section class="intro">
        <h1><span>product</span> view</h1>
        <p>mans - casuals - hoodies & sweatshirts - <span class="ave">ave classic sweatshirt</span></p>
    </section>
    <section class="content">
        <div class="mainContainer">
            <div class="container--photo">
                <div class="content--photo">
                    <div class="photo1">
                        <img src="/View/img/photo1.jpg" alt="">
                    </div>
                    <div class="arrow--left"></div>
                    <div class="arrow--right"></div>
                </div>
                <div class="content--info">
                    <h2>Ave classic sweatshirt</h2>
                    <div class="content--infoRait">
                        <div class="star-rating">
                            <div class="star-rating__wrap">
                              <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                              <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                              <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                              <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                              <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                              <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                              <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                              <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                              <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                              <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                            </div>
                        </div>
                        <p>3 Review(s)</p>
                        <a href="#" class="add_review">Add a Review</a>
                        <p>Share:</p>
                        <div class="content--social">
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <p class="price--rev"><span class="price">£107</span> £89.99</p>
                    <div class="content--infoDetail">
                        <p><span>availability:</span> In stock</p>
                        <p><span>product Code:</span> #499577</p>
                        <p><span>tags:</span> <span class="classic">Classic, Casual, V-neck, Loose</span></p>
                        <p>Donec sem lorem laoreet tempor un risus vitae, rutrum sodales nibh suspendisse est 
                        congue metus nunc, id viverra elit loreti rhoncus quis consecteur es. Donec pulvinar
                         tempor lorem a pretium justo interdum.</p>
                        <ul>
                            <li>Elasticated cuffs</li>
                            <li>Casual fit</li>
                            <li>100% Cotton</li>
                            <li>Free shipping with 4 days delivery</li>
                        </ul>
                    </div>
                    <div class="content--infoSyle">
                        <div class="info--colour">
                            <p>colour</p>
                            <form>
                                <input type="text" placeholder="Select Colour">
                                <div class="info--colourArrow">
                                    <i class="arrow-down"></i>
                                </div>
                            </form>
                        </div>
                        <div class="info--size">
                            <p>size</p>
                            <form>
                                <input type="text" placeholder="Select Colour">
                                <div class="info--sizeArrow">
                                    <i class="arrow-down"></i>
                                </div>
                            </form>
                        </div>
                        <div class="info--qty">
                            <p>qty</p>
                            <form>
                                <input type="number" placeholder="1">
                            </form>
                        </div>
                    </div>
                    <div class="content--butt">
                        <div class="content--buttLeft">
                            <div class="content--bigBtnLeft">
                                <a class="buttLeft" href="#">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <p>add to cart</p>
                                </a>
                            </div>
                        </div>
                        <div class="content_buttRight">
                            <div class="content--bigBtnRight">
                            <a class="buttLeft" href="#">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <p>add to lookbook</p>
                            </a>
                            </div>
                        </div>
                    </div>
                    <div class="content--compare">
                        <a href="">
                            <i class="fa fa-compress" aria-hidden="true"></i>
                            <p>add to compare</p>
                        </a>
                        
                    </div>
                </div>
            </div>

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </section>
    <footer class="footer">
        <div class="footer--top">
            <div class="footer--container">
                <div class="footer--info">
                    <div class="footer--item">
                        <h3>information</h3>
                        <a href="#">The brand</a>
                        <a href="#">Local stores</a>
                        <a href="#">Customer service</a>
                        <a href="#">Privacy & cookies</a>
                        <a href="#">Site map</a> 
                    </div>
                    <div class="footer--item">
                        <h3>information</h3>
                        <a href="#">The brand</a>
                        <a href="#">Local stores</a>
                        <a href="#">Customer service</a>
                        <a href="#">Privacy & cookies</a>
                        <a href="#">Site map</a> 
                    </div>
                    <div class="footer--item">
                        <h3>information</h3>
                        <a href="#">The brand</a>
                        <a href="#">Local stores</a>
                        <a href="#">Customer service</a>
                        <a href="#">Privacy & cookies</a>
                        <a href="#">Site map</a>
                        <a href="#">Site map</a> 
                    </div>
                    <div class="footer--item">
                        <h3>information</h3>
                        <a href="#">The brand</a>
                        <a href="#">Local stores</a>
                        <a href="#">Customer service</a>
                        <a href="#">Privacy & cookies</a>
                        <a href="#">Site map</a>
                        <a href="#">Site map</a> 
                    </div>
                    <div class="footer--item">
                        <h3>information</h3>
                        <a href="#">The brand</a>
                        <a href="#">Local stores</a>
                        <a href="#">Customer service</a>
                        
                    </div>
                </div>
                <div class="footer--buttons">
                    <div class="footer--award">
                        <a href="#"><span>award winner</span> fashion awards 2016</a>
                    </div>
                    <div class="footer--social">
                        <a href="#">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer--bottom">
            <div class="footer--container mainContainer">
                <div class="footer--aboutDev">
                    <p>© 2016 Avenue Fashion™</p>
                    <p>Design by RobbyDesigns.com </p>
                    <p>Dev by Loremipsum.com</p>
                </div>
            </div>
        </div> 
        
    </footer>

    
    
</body>
</html>